body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  display: flex;
  overflow: auto;
}

.addContact {
  width: 20%;
  border-radius: 5px;
  background-color: white;
  height: fit-content;
  padding: 50px;
  margin: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactList {
  background-color: white;
  width: 30%;
  height: 100%;
}

.contactLine {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10%;
  font-size: 24px;
}

.circle {
  background-color: pink;
  border-radius: 100%;
  width: fit-content;
  padding: 20px;
}

.name {
  margin-left: 30px;
  margin-right: 30px;
}
